

#number {
  text-align: center;
}

h9 {

  color: #000;
  font-size: 100px;
  margin: 20px 0px 20px;
  border-radius: 3px;
  text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff;
}

h8 {

  color: #000;
  font-size: 100px;
  margin: 40px 0px 20px;
  border-radius: 3px;
  text-shadow: 0px 0px 20px #fff, 0px 0px 20px #fff;

}
#counter {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 25px;

}


#calc {
  
  position: absolute;
  top: 60%;
  left: 46%;
  justify-content: center;
  align-items: center;
}

.modal {

  background-color: rgb(0,0,0,0.5);
}

.modal-body {
  padding:10px 20px;
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  margin-left: 15% ;
  padding:20px;
  width: 70%;
  display: flex;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2) ;
   display: inline-block;
   cursor: pointer;
 
}

#closeBtn {

  color: #ccc;
  float: right;
  font-size: 30px;
}

#closeBtn:hover,#closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen{
  from{opacity: 0}
  to{opacity: 1}
}


#modalBtn {

  position: absolute;
  top: 35%;
  left: 45%;
  justify-content: center;
  align-items: center;
}


#kuvia {
  margin: 2% auto;
  margin-left: 15% ;
  display: flex;


}

#count_name {

  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}


#name {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
}

#date {

  width: 11%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;

}

#time {

  width: 11%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
 
}

#countername {
display: flex;
flex-direction: column;
text-align: center;


}



#countershow {

  margin: 3% auto;
  width: 70%;
  box-shadow: 0 5px 8px rgba(0,0,0.2);
  line-height: 290px;
 
}

#bgg  {
  position:absolute;
  z-index: -1;
 height: 70%;
 width: 70%;
}


#simpleModal img {

  height: 300px;
  width: 315px;
  
}

#kuvia img {
  height: 300px;
  width: 315px;
  

}